span {
  font-size: 12px;
  font-family: Helvetica;
}
span.dialogue:nth-child(even) {
  background-color: lightgreen;
}
.timestamp {
  color: gray;
}
span + span {
  margin-left: 2px;
}
div + div {
  margin-top: 0.5em;
}
span.dialogue[data-speaker]:before {
  content: attr(data-speaker) ": ";
  font-weight: bold;
}
